.videoContainer {
    position: absolute;
    bottom: 65px; /* height of the bottons div */
    background: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    left: 0px;
    width: 100%;
    /* justify-content set in component */
}
.videoContainer.withSidebar {
    left: 250px;
    width: calc(100% - 250px);
}

.videoPlayer {
    background-color: rgb(18, 115, 153);
    padding: 5px 10px 0 10px;
}

.alignButtonContainer {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.alignButtonContainer button {
    background: none;
    border: none;
    padding: 0px;
    color: white;
    font-size: 16px;
    width: 16px;
}
.alignButtonContainer button:hover,
.alignButtonContainer button:focus {
    color: rgb(210, 210, 210);
    cursor: pointer;
}

.windowSize,
.windowSize .avatarContainer {
    width: 140px;
    height: 105px;
    transition: width 0.3s, height 0.3s;
    background-color: black;
}
.windowSize:hover,
.windowSize:hover .avatarContainer {
    width: 280px;
    height: 210px;
    transition: width 0.3s, height 0.3s;
}
.windowSize video {
    width: 100%;
    max-height: 100%;
}

.displayName,
.avatarContainer {
    top: 33px;
}
.displayName {
    position: absolute;
    z-index: 2;
    background-color: rgba(65, 65, 65, 0.7);
    color: white;
    max-width: 140px;
    padding: 2px 5px;

    white-space: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.displayNameText {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 1;
    width: calc(100% - 25px);
}
.mutedIcon {
    display: inline-block;
    width: 25px;
    color: rgb(255, 190, 190);
    flex-basis: 25px;
    flex-grow: 0;
    flex-shrink: 0;
}

.avatarContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.noVideoAvatar {
    width: 50px;
    height: 50px;
}
.noVideoAvatar.muted {
    background-color: rgba(255, 0, 0, 0.2);
    border-radius: 50%;
    padding: 5px;
}

@media only screen and (max-width: 500px) {
    .videoContainer {
        justify-content: flex-start;
    }
    .videoContainer.withSidebar {
        left: 150px;
        width: calc(100% - 150px);
    }
    .alignButtonContainer {
        display: none;
    }
    .videoPlayer {
        padding: 5px 5px 0 5px;
    }
    .windowSize,
    .windowSize .avatarContainer {
        width: 100px;
        height: 75px;
    }
    .displayName,
    .avatarContainer {
        top: 5px;
    }
    .displayName {
        max-width: 80px;
    }
    .noVideoAvatar {
        width: 30px;
        height: 30px;
    }
}
