.videoContainer {
    position: absolute;
    bottom: 65px; /* height of the bottons div */
    background: rgba(0, 0, 0, 0);
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content set in component */
}

.videoPlayer {
    background-color: rgb(18, 115, 153);
    padding: 5px 10px 0 10px;
}

.alignButtonContainer {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.alignButtonContainer button {
    background: none;
    border: none;
    padding: 0px;
    color: white;
    font-size: 16px;
    width: 16px;
}
.alignButtonContainer button:hover,
.alignButtonContainer button:focus {
    color: rgb(210, 210, 210);
    cursor: pointer;
}

.videoPlayer video {
    width: 140px;
    height: 105px;
    transition: width 0.3s, height 0.3s;
    background-color: black;
}

.videoContainer video:hover {
    width: 280px;
    height: 210px;
    transition: width 0.3s, height 0.3s;
}

@media only screen and (max-width: 500px) {
    .videoContainer {
        justify-content: flex-start;
    }
    .alignButtonContainer {
        display: none;
    }
    .videoPlayer {
        padding: 5px 5px 0 5px;
    }
    .videoPlayer video {
        width: 80px;
        height: 80px;
    }
}
