.broadcastVideoContainer {
    height: calc(100vh - 60px - 65px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: black;
    overflow-y: scroll;
}

.videoContainer {
    background-color: black;
    border: 3px solid green;
}
.videoContainer video {
    max-width: 100%;
    max-height: 100%;
}

.emptyRoomMessage {
    color: white;
    background: rgba(255, 255, 255, 0.2);
    align-self: center;
    margin: auto 20px;
    padding: 4px 10px;
}
.emptyRoomMessage p {
    text-align: center;
    margin: 4px 0;
}
