.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.input {
    width: 100%;
    padding: 4px 7px;
    margin: 20px 0 10px 0;
}

.codeInput {
    padding: 5px;
    border: 1px solid black;
    background-color: white;
}
.codeInput textarea {
    width: 100%;
    background-color: rgb(200, 200, 200);
}

.btnContainer {
    margin-top: 10px;
}
