.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.input {
    width: 100%;
    padding: 4px 7px;
    margin: 20px 0 3px 0;
}

.codeInput {
    padding: 5px 5px 5px 4px;
    border: 1px solid black;
    background-color: white;
}
.codeInput textarea {
    width: 100%;
    background-color: rgb(220, 220, 220);
    border-radius: 5px;
    font-family: monospace;
    resize: none;
    padding: 5px;
}

.submitInstructions {
    font-size: 10px;
    font-weight: bold;
    margin: 0px;
}
.submitInstructions .enterIcon {
    position: relative;
    top: 4px;
}
.submitInstructions .shiftIcon {
    position: relative;
    top: 2px;
}

.btnContainer {
    margin-top: 15px;
}
