/* BUTTON */
.button {
    border-radius: 50%;
    background-color: white;
    width: 45px;
    height: 45px;
    margin: 0 12px;
    position: relative;
    outline: none;
}
.button:hover,
.button:focus {
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}
.button.isStreaming {
    border: 2px solid white;
    background-color: red;
    padding: 0px;
    color: white;
}
.button.isStreaming:hover,
.button.isStreaming:focus {
    background-color: rgb(255, 70, 70);
}

/* TOOLTIP */
.button .tooltip {
    visibility: hidden;
}
.button:hover .tooltip,
.button:focus .tooltip {
    visibility: visible;
}

/* ICON */
.icon {
    font-size: 18px;
    line-height: 18px;
}
.icon > svg {
    width: 18px;
    height: 18px;
    vertical-align: top;
}
.slash {
    display: inline-block;
    transform: rotate(38deg);
    position: absolute;
    top: 19px;
    left: 5px;
}
.slash > span {
    display: block;
    width: 32px;
    height: 2.5px;
}
.slash > span:nth-child(1) {
    background-color: black;
}
.slash > span:nth-child(2) {
    background-color: white;
}
.loadingBubbles {
    position: absolute;
    top: 0;
    left: 0;
}

.peerConnectionButton {
    background-color: white;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid gray;
    margin-right: 20px;
}
.peerConnectionButton:hover,
.peerConnectionButton:focus {
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}
.peerConnectionButton.active {
    background-color: gray;
    color: white;
    border: 1px solid white;
    box-shadow: 0px 0px 5px black;
}
.peerConnectionButton.active:hover,
.peerConnectionButton.active:focus {
    background-color: rgb(120, 120, 120);
}

.joinButton {
    background-color: rgb(18, 115, 153);
    color: white;
    padding: 10px 5px;
    border-radius: 5px;
    font-size: 1.2rem;
}
.joinButton:hover,
.joinButton:focus {
    cursor: pointer;
    background-color: rgb(8, 105, 143);
}

.copyButton {
    background: none;
    font-size: 1.5rem;
    margin-left: 0.5rem;
    border: none;
    padding: 0;
    position: relative;
    color: black;
    transition: color 2s ease-in;
}
.copyButton:hover,
.copyButton.focus {
    cursor: pointer;
    color: rgb(50, 50, 50);
}
.copyButton > svg {
    width: 1rem;
}
.copyButton .tooltip {
    visibility: hidden;
    font-size: 1rem;
}
.copyButton:hover .tooltip,
.copyButton:focus .tooltip {
    visibility: visible;
}
.copyButton .tooltip .bottom {
    top: 0;
    left: 1.5rem;
}
.copyButton.isConfirming {
    color: rgb(0, 200, 0);
    transition: color 0s ease-out;
}
.copyText {
    position: fixed;
    top: 10000px;
}

.participantsList button {
    border: none;
    background: none;
    padding: 5px;
    margin: 0 10px 0 15px;
    color: rgb(100, 100, 100);
}
.participantsList button:hover,
.participantsList button:focus {
    cursor: pointer;
    color: rgb(50, 50, 50);
}
.participantsList .upArrow {
    position: relative;
    top: 5px;
}
.participantsList .list {
    position: absolute;
    top: 40px;
    list-style: none;
    left: -1px;
    margin: 0;
    padding: 0 20px 20px 20px;
    width: 100%;
    background-color: rgb(240, 240, 240);
    border-bottom: 2px solid rgb(200, 200, 200);
    border-right: 2px solid rgb(200, 200, 200);
    border-left: 2px solid rgb(200, 200, 200);
    color: rgb(100, 100, 100);
    font-size: 14px;
}
.participantsList .list li {
    margin-top: 14px;
}
.participantsList .list li:first-child {
    margin-top: 0;
}
