/* BUTTON */
.button,
.button:disabled {
    border-radius: 50%;
    background-color: rgb(255, 190, 189);
    border: 1px solid white;
    width: 45px;
    height: 45px;
    margin: 0 12px;
    position: relative;
    outline: none;
    color: white;
}
.button:hover:enabled,
.button:focus:enabled {
    cursor: pointer;
    background-color: rgb(255, 170, 169);
}
.button.isStreaming,
.button.isStreaming:disabled {
    background-color: white;
    padding: 0px;
    color: black;
    border: 1px solid black;
}
.button.isStreaming:enabled:hover,
.button.isStreaming:enabled:focus {
    background-color: rgb(230, 230, 230);
}
.button:disabled,
.buttondisabled:hover,
.button:disabled:focus,
.button.isStreaming:disabled,
.button.isStreamingdisabled:hover,
.button.isStreaming:disabled:focus {
    cursor: not-allowed;
}

/* TOOLTIP */
.button .tooltip {
    visibility: hidden;
}
.button:hover .tooltip,
.button:focus .tooltip {
    visibility: visible;
}

/* ICON */
.icon {
    font-size: 18px;
    line-height: 22px;
}
.icon > svg {
    width: 18px;
    height: 18px;
    vertical-align: top;
}
.slash {
    display: inline-block;
    transform: rotate(38deg);
    position: absolute;
    top: 19px;
    left: 5px;
}
.slash > span {
    display: block;
    width: 32px;
    height: 2.5px;
}
.slash > span:nth-child(1) {
    background-color: rgb(255, 76, 82);
}
.slash > span:nth-child(2) {
    background-color: white;
}
.loadingBubbles {
    position: absolute;
    top: 0;
    left: 0;
}

.peerConnectionButton {
    background-color: white;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid gray;
    margin-right: 20px;
}
.peerConnectionButton:hover,
.peerConnectionButton:focus {
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}
.peerConnectionButton.active {
    background-color: gray;
    color: white;
    border: 1px solid white;
    box-shadow: 0px 0px 5px black;
}
.peerConnectionButton.active:hover,
.peerConnectionButton.active:focus {
    background-color: rgb(120, 120, 120);
}

.joinButton {
    background-color: rgb(18, 115, 153);
    color: white;
    padding: 10px 5px;
    border-radius: 5px;
    font-size: 1.2rem;
}
.joinButton:hover,
.joinButton:focus {
    cursor: pointer;
    background-color: rgb(8, 105, 143);
}

.copyButton {
    background: none;
    font-size: 1.5rem;
    margin-left: 0.5rem;
    border: none;
    padding: 0;
    position: relative;
    color: black;
    transition: color 2s ease-in;
}
.copyButton:hover,
.copyButton.focus {
    cursor: pointer;
    color: rgb(50, 50, 50);
}
.copyButton > svg {
    width: 1rem;
}
.copyButton .tooltip {
    visibility: hidden;
    font-size: 1rem;
}
.copyButton:hover .tooltip,
.copyButton:focus .tooltip {
    visibility: visible;
}
.copyButton .tooltip .bottom {
    top: 2em;
    left: -7em;
}
.copyButton.isConfirming {
    color: rgb(0, 200, 0);
    transition: color 0s ease-out;
}
.copyText {
    position: fixed;
    top: 10000px;
}

.topBarButton {
    border: none;
    background: none;
    padding: 5px;
    color: rgb(100, 100, 100);
}
.topBarButton:hover,
.topBarButton:focus {
    cursor: pointer;
    color: rgb(50, 50, 50);
}
.topBarButton:first-child {
    margin-right: 10px;
}
.topBarButton .underline {
    border-bottom: 1px solid rgb(100, 100, 100);
}
.topBarButton.dark {
    color: black;
}
.topBarButton.dark .underline {
    border-bottom: 1px solid black;
}
.topBarButton .upArrow {
    position: relative;
    top: -1px;
}
.topBarButton .upArrow {
    position: relative;
    top: 5px;
}
