.modalContainer {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formContainer {
    width: calc(100vw - 40px);
    max-width: 350px;
    background-color: white;
    padding: 20px;
}

.formHeader {
    margin: 0px 0px 15px 0px;
}

.formInput {
    margin: 7px 0px 15px 0px;
    display: block;
    width: 100%;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 7px;
}
.formInput.required {
    border: 1px solid red;
    background-color: rgb(255, 230, 230);
}
.requiredMessage {
    font-size: 0.8rem;
    color: red;
    font-style: italic;
}

.formCheckbox {
    margin: 0px 0px 15px 0px;
}

.buttonContainer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.joinButton {
    background-color: rgb(18, 115, 153);
    color: white;
    padding: 10px 5px;
    border-radius: 5px;
    font-size: 1.2rem;
}
.joinButton:hover,
.joinButton:focus {
    cursor: pointer;
    background-color: rgb(8, 105, 143);
}

.homeLink {
    background: none;
    padding: 0;
    text-decoration: underline;
    border: none;
    color: rgb(18, 115, 153);
    font-size: 0.8rem;
}
.homeLink:hover,
.homeLink:focus {
    cursor: pointer;
    color: rgb(08, 95, 133);
}
